html, body {
    width: 99%;
    height:99%;
  }
  
body {
    background: linear-gradient(-45deg, #efd5c5, #efd5c5, #c0afa5, #c0afa5);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
  }
  
@keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }

      
  }

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: min(20vw, 175px);
    color: #B80036;
    margin: -30px 0 0 0;
    padding: 0;
    
}

h2 {
    font-size: min(3.25vw, 28.5px);
    color: #B80036;
    margin: -75px 0 0 -55px;
    padding: 0;
}
/* dynamic size for underline text */
@media (max-width: 800px) {
    h2 {
        margin: -45px 0 0 -50px; 
    }
}

@media (max-width: 500px) {
    h2 {
        margin: -40px 0 0 -33px; 
    }
}

.bottom-right-svg {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}


.bottom-left-image {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px;
    width: 25vw; 
    height: auto;
}

.top-right-image {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0px;
    width: 14vw; 
    height: auto;
}

.text-box {
    width: 50%; 
    padding: 10px;
    margin-top: 50px; 
    font-size: min(10vw, 25px); 
    border: 2px solid #B80036;
    border-radius: 5px;
    background-color: #d6bfb0; 
    color: #B80036; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    font-family: "DM Serif Text", serif; 
}

.svg-row {
    display: flex;
    justify-content: center;
    gap: 7vw; /* Adjust gap based on viewport width */
    margin-top: 3vw; /* Adjust margin-top based on viewport width */
}

.svg-row svg {
    fill: #B80036; 
    transition: fill 0.3s ease; 
}

.svg-row svg:hover {
    fill: #ad9c93; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.centered-link {
    text-decoration: underline;
    display: block;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    color: #B80036;
    font-size: 50px;
}

.centered-link:hover {
    color: #ad9c93; 
}

